header{
    display: flex;
    gap: 20%;
    position: relative;
    margin-left: 200px;
    background-color: #FFFFFF;
}
h1{
    color:#0067DB;
    font-size:xx-large;
}
#navigation-bar{
    display:flex;
    position: relative;
    margin-top: 30px;
    margin-left: 100px;
    gap: 23px;
}
#darker{
    color:#191E3B;
    font-weight:bold;
}
#download{
    border-radius: 10px;
    border-color: #ECF4FD;
    color:#191E3B;
    font-weight: bold;
}
#download-icon{
    color:#1668E3;
}
h2{
    color:#FFFFFF;
    font-size:xx-large;
    margin-right: 300px;
}
#container{
    position:relative;
    text-align: center;
}
#background-image{
    opacity:95%;
}
#picture-background{
    position:absolute;
    top:50%;
    left:20%;
    margin-left: 300px;
    transform:translate(-50%, -50%);
}
#form-background{
    display: flex;
    gap:5px;
    background-color: #FFFFFF;
    padding-left: 50px;
    padding-right:50px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 12px;
    margin-left: 200px;
}
#search1{
    border-radius: 10px;
    height: 60px;
    width: 300px;
    color:#191E3B;
    font-weight: lighter;
}
#search2{
    border-radius: 10px;
    height: 60px;
    width: 300px;
    color:#191E3B;
    font-weight: lighter;
}
#search3{
    border-radius: 10px;
    height: 60px;
    width: 300px;
    color:#191E3B;
    font-weight: lighter;
}
#btn-search{
    border-radius: 20px;
    background-color: #191E3B;
    color:#FFFFFF;
    width: 100px;
    height:50px;
}
#img1{
    position:absolute;
    margin-left: -80px;
    margin-top: -15px;
}
#img2{
    position:absolute;
    margin-left: -120px;
}
#img3{
    position:absolute;
    margin-left: -120px;
}

